* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.whole-container {
  display: flex;
  flex-direction: column;
}

.heading {
  flex-basis: 10%;
  /* border: 2px solid green; */
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.logo {
  width: 20%;
}

.form-container {
  flex-basis: 90%;
  /* border: 2px solid purple; */
  background: #ffffff;
  /* box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 30px;
  /* width: 512px; */
  width: 35%;
  height: auto;
  margin: 0 auto;
}

.form-info h1 {
  color: blue;
  padding-bottom: 2rem;
}

.form-wrapper p {
  margin-bottom: 0.2rem;
  color: black;
}

.email {
  margin-bottom: 20px;
}

.email cite {
  font-size: smaller;
}

input {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 1rem; */
  border: 1px solid #e2e2ea;
  border-radius: 10px;
}

::placeholder {
  color: #b5b5be;
  font-size: 14px;
}
.password-container {
  position: relative;
  margin-bottom: 20px;
}
.fa-eye {
  position: absolute;
  top: 30px;
  right: 15px;
}
.password {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #252525;
  text-align: left;
}

.account {
  margin-top: 1rem;
  color: #39cdcc;
  text-align: right;
}

.get-btn {
  padding: 13px;
  background: #39cdcc;
  color: #ffffff;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  border: none;
    /* width: 100%; */
}

.footer{
  margin: 20px;
}

@media (max-width: 600px) {
  .form-info h1 {
  font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 20%;
  }
  .containers {
    flex-direction: column;
    background-color:#39cdcc;
  }

  .form-container {
   width: auto;
  }
}

@media (min-width: 1025px) {
  .form-container {
   width: 50%;
  }
}
