* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----- CONTAINERS FLEX BASIS SETTINGS */
.whole-container {
  display: flex;
  flex-direction: column;
}

.heading {
  flex-basis: 10%;
}

.form-container {
  flex-basis: 80%;
}

.footer-container {
  flex-basis: 10%;
}

.heading {
  /* border: 2px solid green; */
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.logo {
  width: 20%;
}

/* ---- FORM DIVISION CSS ----  */
.form-container {
  border: 2px solid purple;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 30px;
  width: 35%;
  height: auto;
  margin: 0 auto;
}

.form-info h1 {
  color: blue;
  padding-bottom: 2rem;
}

.form-wrapper p {
  margin-bottom: 0.2rem;
  color: black;
}

.email {
  margin-bottom: 20px;
}

.email cite {
  font-size: smaller;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e2e2ea;
  border-radius: 5px;
  border-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(238, 235, 235);
}

::placeholder {
  color: #b5b5be;
  font-size: 14px;
}
.password-container {
  position: relative;
  margin-bottom: 20px;
}
.fa-eye {
  position: absolute;
  top: 30px;
  right: 15px;
}
.password {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #252525;
  text-align: left;
}

.account {
  margin-top: 1rem;
  color: #39cdcc;
  text-align: right;
}

.get-btn {
  padding: 13px;
  background: #cd3939;
  color: #ffffff;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  /* width: 100%; */
}


/* ---- FOOTER DIVISION CSS ----  */
.footer-container {
  display: flex;
  /* flex-direction: row; */
  margin: 20px;
  margin-left: 18rem;
  color: #cd3939;
}

.home {
  flex-basis: 20%;
}

.copyright {
  flex-basis: 80%;
}

/* ----- MEDIA QUERY CSS SECTION ----- */
/* @media (max-width: 320px) {
    .footer {
    display: none;
  }
} */

@media (max-width: 600px) {
  .logo {
    width: 50%;
  }

   .form-info h1 {
    font-size: 20px;
  }
   .footer {
    margin: 0.1rem;
    font-size: 12px;
  } 
}

@media (max-width: 1024px) {
  .logo {
    width: 80%;
  }
 
  .form-container {
    width: auto;
    margin: 2rem;
  }
  .footer {
    margin-left: 2rem;
  }
}


@media (min-width: 1024px) {
  /* .logo {
    width: 20%;
  } */

  .footer {
    margin-left: 20%;
    margin: 20px;
  }

  .home {
    flex-basis: 10%;
  }
}

@media (min-width: 1025px) {
  .form-container {
    width: 50%;
  }

  .footer {
    margin-left: 11rem;
  }
}

/* @media (max-width: 1025px) {
  .form-container {
    width: 50%;
  }

  .footer {
    margin-left: 11rem;
  } 
} */
